

/* Header Styles */

header {
    /* width: 1440px; */
    height: 70px;
    box-shadow: inset 0 -1px 0 0 #cfd8dd;
    background-color: #36414c;
    padding: 26px 24px 24px 24px;
}

/* .navactive {
    float: right;
} */

.navbar-nav {
    font-family: Titillium;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: white;
}


.basket {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
}

/* MAIN SECTION STYLES FROM HERE UNTIL NEXT COMMENT
*/

    body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
  }


  /* FIRST SECTION STYLES - HERO IMAGE AND THE NEXT LEVEL TRAINING HEADING*/

.Next-level-training {
    font-family: Titillium;
    font-size: 56px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
    padding: 60px;
    
  }

  .text-style-1 {
      margin: 0;
  }

  .Take-your-tech-caree {
    /* width: 882px; */
    height: 78px;
    font-family: Titillium;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
  }
  
  .button-more {
    width: 350px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 10px 20px 0 rgba(25, 71, 128, 0.2);
    background-color: #5b9de3;
  }

  .FIND-OUT-MORE {
    /* width: 204px;
    height: 19px; */
    font-family: Titillium;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }


  /* HERE IS WHERE THE SECOND SECTION STYLES ARE LAID OUT
   */

   #why-maven-academy {
       padding: 60px 100px;
   }
   #side-bar-summary {
        padding: 60px 80px;
        border-radius: 5px;
        box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
        background-color: #ffffff;
   }

   .img-fill {
    background-color: #4a90e2;
    width: 75px;
    height:75px ;
    border-radius: 5px;
    padding: 10px 0 10px 25px;
  }

/* THIRD SECTION STYLES - CAROUSEL STYLING */

.carousel-control-prev,
.carousel-control-next{
      bottom: 1%;
      width: 2%;
      background-color: orange;
}


/* Footer Styles all begin here */


footer {
    clear: both;
}
footer .upperdiv {
    display: flex;
    height: 10rem;
    background-color: #3e464b;
    color: rgb(0, 146, 243);
}

footer .upperdiv div {
    margin: auto;
}

.lowerdiv {
    background-color: #1f262d;
    color: #ffffff;
    height: 10srem;
}
